/* CSS existente */

/* Añadir esta clase para el overlay del nombre */
.hexagon-overlay {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
  backdrop-filter: blur(2px);
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
  color: white;
  opacity: 0; /* Ocultar por defecto */
  transition: all 0.3s ease;
  text-align: center;
}

/* Mostrar el overlay al hacer hover */
.hexagon-element:hover .hexagon-overlay {
  opacity: 1;
}

/* Otros estilos existentes */
.main-hexagon {
  display: flex;
  --s: 100px; /* tamaño */
  --r: 1; /* ratio */
  --h: 0.25;
  --v: 0.35;
  --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
  --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));

  /* margen */
  --mv: 4px; /* vertical */
  --mh: calc(var(--mv) + (var(--s) - 2 * var(--hc)) / 2); /* horizontal */
  --f: calc(2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px);
}

.container-hexagon {
  font-size: 0; /* deshabilitar el espacio en blanco entre elementos en línea */
  counter-reset: num;
  box-sizing: content-box;
}

.container-hexagon div {
  box-sizing: content-box;
  width: var(--s);
  margin: var(--mv) var(--mh);
  height: calc(var(--s) * var(--r));
  display: inline-flex;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
  margin-bottom: calc(var(--mv) - var(--vc));
  
}

.container-hexagon::before {
  content: "";
  width: calc(var(--s) / 2 + var(--mh));
  float: left;
  height: 135%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 2px), #000 0 var(--f));
}

.container-hexagon div::before {
  counter-increment: num;
  margin: auto;
  font-weight: bold;
}

.panel {
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
  transition: opacity 0.3s ease; /* Añadido transition */
}

.panel:hover {
  opacity: 1;
}

.panel > div:not(:last-child) {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hex-scale {
  transition: all 0.6s ease; /* Asegurarse de que la transición se aplica a todas las propiedades */
  filter: grayscale(90%);
}

.hex-scale:hover {
  transform: scale(1.05);
  filter: grayscale(20%);
}

.hexagon-element {
  position: relative !important;
  overflow: hidden !important;
  background-size: cover !important;
  background-position: center !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  display: flex;
  transition: filter 0.3s ease, transform 0.3s ease; /* Asegurar la transición para filter y transform */
}

.hexagon-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: filter 0.6s ease; /* Añadido transition */
}

.hexagon-element:hover::before {
  /* filter: brightness(100%); */
}

.text {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blurred {
  backdrop-filter: blur(1px);
  background-color: #00000010;
}

.text a {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #00000080;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--contrast-color);
  backdrop-filter: blur(5px);
}

.hexagon-element .text {
  position: absolute;
  top: 0;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 0;
  transition: color 0.3s ease; /* Añadido transition */
}

/* HTML: <div class="hexagon"></div> */
.hexagon-img-container {
  width: 60px; /* Ajusta este valor para controlar el tamaño del hexágono */
  height: calc(60px * 1.1547); /* Ajusta la altura según la relación de aspecto del hexágono */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #3B8686;
  overflow: hidden;
  position: relative;
  transform: rotate(90deg);
}

.hexagon-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}
.talentos-button{
  background-color: transparent;
  border: 0px;
}
